body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  
  /* height: -webkit-fill-available !important; */

  --yellow: #fedc5e;
  --bg-black: #00001e;
  --bg-green: #4F9E7E;
}


html{
  height: -webkit-fill-available !important;
}

.hamburger{
  width: 45px !important;
  height: 45px !important;
  padding-top: 20px !important;

}

/* body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

header {
  background-color: #fff !important;
  width: 100% !important;
  position: fixed !important;
  height: 60px !important;
  top: 0 !important;
  z-index: 999 !important;
  /* opacity: 0 !important; */
}

.fh {
  min-height: 100vh !important;
}

/* .fw{
  width: 100% !important;
} */

.font__yellow {
  color: var(--yellow) !important;
}

.font__green {
  color: var(--bg-green) !important;
}

.font__black {
  color: var(--bg-black) !important;
}

.font__white {
  color: #fff !important;
}

.indexed{
  z-index: 111 !important;
}

.heading{
  line-height: 1 !important;
  font-size: clamp(2.9rem, 8vw, 3.5rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.heading2{
  line-height: 1 !important;
  font-size: 30px !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.heading__contact{
  line-height: 1 !important;
  font-size: 30px !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.contact__heading{
  line-height: 1 !important;
  font-size: clamp(16px, 8vw, 20px) !important;
  font-weight: 500 !important;
}

.content__paragraph{
  line-height: 1.5 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #fff;
  /* opacity: 0.9 !important; */
}

.content__paragraph2{
  line-height: 1.5 !important;
  font-size: 14px !important;
  font-weight: 490 !important;
  /* color: #fff; */
  /* opacity: 0.9 !important; */
}

.heading2{
  line-height: 1 !important;
  font-size: clamp(2.5rem, 10vw, 4rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.paragraph{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  line-height: 30px;
  padding-top: 10px;
}

.paragraph2{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.1rem, 1.1vw, 1.5rem);
  line-height: 22px !important;
  padding-top: 10px;
}

.paragraph3{
  font-family: "Poppins";
  font-style: extra-bold !important;
  font-weight: 1000;
  font-size: clamp(1.1rem, 1.1vw, 1.5rem);
  line-height: 20px !important;
}

.paragraph5{
  font-family: "Poppins";
  /* font-style: normal; */
  /* font-weight: 500; */
  font-size: clamp(1rem, 0.7vw, 1.5rem);
  line-height: 20px !important;
  padding-top: 10px;
}

.bold{
  font-weight: 900 !important;
}

.h-5{
  height: 5% !important;
}

.h-10{
  height: 10% !important;
}

.h-15{
  height: 15% !important;
}

.h-20{
  height: 20% !important;
}

.h-25{
  height: 25% !important;
}

.h-30{
  height: 30% !important;
}

.h-35{
  height: 35% !important;
}

.h-40{
  height: 40% !important;
}

.nav__slide__active{
  margin-top: 15px !important;
  height: 1px !important;
  width: 25px !important;
  background-color: #fff !important;
  border-top: 3px solid #fff !important;
}

.nav__slide{
  margin-top: 15px !important;
  height: 1px !important;
  width: 25px !important;
  background-color: #fff !important;
  border-top: 3px transparent !important;
}

/* First slide */

.first__slide {
  background-image: url(./FabitsAssets/Images/Banner.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.first__slide2 {
  object-fit: none !important;
  object-position: center center !important;
}

.notz{
  z-index: -1 !important;
}

.first__slide .first__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
}

.grad{
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
}

.first__slide .second__content {
  background-image: url(./FabitsAssets/Images/49\ \(1\).png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.first__slide .third__content {
  background-image: url(./FabitsAssets/Images/49\ \(1\).png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

.button__width{
  max-width: 400px !important;
}



.desktop__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  /* left: 50% !important; */
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

/* .first__container h1 {
  font-size: clamp(3rem, 3.5vw, 3.5rem) !important;
  font-weight: 800 !important;
  color: #fff !important;
  opacity: 0.9 !important;
} */


.first__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.about__fabits {
  background-color: #fff !important;
  background: linear-gradient(180deg, #f1dfff 0%, #ffffff 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  padding: 5px 20px !important;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000000;
  /* margin-right: 100px !important; */
  /* bottom: 10% !important; */
}

.about__fabits2 {
  background-color: #fff !important;
  background: linear-gradient(90deg, #B43AEB 0%, #4B18E5 27.08%, #AD3CEA 50.52%, #4A18E5 76.29%, #4817E5 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #fff;
  /* margin-right: 100px !important; */
}


.grad__icon{
  width: 75px !important;
  height: 75px !important;
}
.grad__icon__car{
  width: 90px !important;
  height: 65px !important;
}

.grad__width{
  max-width: 1000px !important;
}


.grad__width2{
  max-width: 1200px !important;
}

.about__fabits3 {
  background-color: #fff !important;
  background: linear-gradient(180deg, #F3E3FF 0%, #FFFEFF 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000;
  /* margin-right: 100px !important; */
}



li{
  list-style: none !important;
  text-decoration: none !important;
  padding-top: 7px;
  padding-bottom: 7px;
}

ul{
  list-style: none !important;
  text-decoration: none !important;
  padding: 0 !important;
}

a{
  text-decoration: none !important;
}

.bgimage{
  max-width: 300px;
  height: 300px;
}


/* Second slide */


.second__slide {
  background-image: url(./FabitsAssets/Images/Second__slide__mob.svg) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.fhh{
  height: 100vh !important;
}

.giftbox{
  max-width: 150px !important;
  max-height: 150px !important;
  object-fit: cover !important;
  object-position: center center !important;
}
.giftboxmain{
  max-width: 200px !important;
  max-height: 200px !important;
  object-fit: cover !important;
  object-position: center center !important;
}





.second__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.8) 90%,
    rgba(0, 0, 30, 0.8) 97.14%
  ) !important;
}

.second__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.second__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.white__round{
  max-height: 188px !important;
  max-width: 245px !important;
  min-height: 100px !important;
  min-width: 140px !important;
  border-radius: 50% 50% !important;
  /* background-color: #fff !important;  */
}

/* Third slide */

.max__width{
  max-width: 500px !important;
}

.getstarted{
  bottom: 0 !important;
}

/* .third__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
} */



.third__content{
  background: rgba(74, 24, 229, 0.05) !important;
}

.fourth__content{
  background: linear-gradient(0deg, #00001E 0%, rgba(0, 0, 30, 0.9) 100%);
}

.contact__content{
  background: linear-gradient(180deg, rgba(0, 0, 30, 0.8) 0%, rgba(0, 0, 30, 0.8) 100%);
mix-blend-mode: normal;
}

.link__content{
  background-color: #E3E3E3   !important;
}




/* Fourth slide */

.fourth__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.grad__box{
  background: linear-gradient(270deg, rgba(105, 105, 105, 0.033) 23.81%, rgba(54, 54, 54, 0.06) 100%);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  min-height: 120px;
  color: #000;
  /* margin-right: 100px !important; */
}

.grad__box2{
  background: linear-gradient(90deg, rgba(105, 105, 105, 0.033) 23.81%, rgba(54, 54, 54, 0.06) 100%);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  min-height: 120px;
  color: #000;
}

model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

@media (min-width: 768px) {
  .display__mobile {
    display: none !important;
  }

  .display__desktop {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .display__mobile {
    display: block !important;
  }

  .display__desktop {
    display: none !important;
  }
}











