body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  height: -webkit-fill-available !important;

  --yellow: #fedc5e;
  --bg-black: #00001e;
}


html{
  height: -webkit-fill-available !important;
}

header {
  background-color: #fff !important;
  width: 100% !important;
  position: fixed !important;
  height: 60px !important;
  top: 0 !important;
  z-index: 999 !important;
}

.fh {
  height: 100vh !important;
}

.font__yellow {
  color: var(--yellow) !important;
}

.font__black {
  color: var(--bg-black) !important;
}




.font__white {
  color: #fff !important;
}

.indexed{
  z-index: 111 !important;
}

.heading{
  /* font-family: "Poppins"; */
  /* line-height: 30px;
  letter-spacing: -0.02em; */
  line-height: 1 !important;
  /* font-size: 3.4rem !important; */
  font-size: clamp(3.4rem, 11vw, 5rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;

}

.paragraph{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  line-height: 30px;
  padding-top: 10px;
}

.bold{
  font-weight: 900 !important;
}

.h-5{
  height: 5% !important;
}

.h-10{
  height: 10% !important;
}

.h-15{
  height: 15% !important;
}

.h-20{
  height: 20% !important;
}

.h-25{
  height: 25% !important;
}

.h-30{
  height: 30% !important;
}

.h-35{
  height: 35% !important;
}

.h-40{
  height: 40% !important;
}






/* First slide */

.first__slide {
  background-image: url(./FabitsAssets/Images/Banner.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.first__slide .first__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
}

.first__slide .second__content {
  background-image: url(./FabitsAssets/Images/49\ \(1\).png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}
.first__slide .third__content {
  background-image: url(./FabitsAssets/Images/49\ \(1\).png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}



/* .first__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
} */

/* .first__container h1 {
  font-size: clamp(3rem, 3.5vw, 3.5rem) !important;
  font-weight: 800 !important;
  color: #fff !important;
  opacity: 0.9 !important;
} */





.first__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.about__fabits {
  background-color: #fff !important;
  background: linear-gradient(180deg, #f1dfff 0%, #ffffff 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  padding: 5px 20px !important;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000000;
  margin-right: 100px !important;
  /* bottom: 10% !important; */
}

.about__fabits2 {
  background-color: #fff !important;
  background: linear-gradient(90deg, #B43AEB 0%, #4B18E5 27.08%, #AD3CEA 50.52%, #4A18E5 76.29%, #4817E5 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #fff;
  margin-right: 100px !important;
}

.about__fabits3 {
  background-color: #fff !important;
  background: linear-gradient(180deg, #F3E3FF 0%, #FFFEFF 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000;
  margin-right: 100px !important;
}


/* Second slide */


.second__slide {
  background-image: url(./FabitsAssets/Images/Second__slide__mob.svg) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.second__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.8) 90%,
    rgba(0, 0, 30, 0.8) 97.14%
  ) !important;
}

.second__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.second__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.white__round{
  height: 208px !important;
  width: 205px !important;
  border-radius: 50% 50% !important;
  background-color: #fff !important;
}

/* Third slide */

.max__width{
  max-width: 400px !important;
}

.getstarted{
  bottom: 0 !important;
}

.third__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.paragraph2{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
  line-height: 18px !important;
  padding-top: 10px;
}

.third__content{
  background: rgba(74, 24, 229, 0.05) !important;
}

.fourth__content{
  background: linear-gradient(0deg, #00001E 0%, rgba(0, 0, 30, 0.9) 100%);
}


/* Fourth slide */

.fourth__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.grad__box{
  background: linear-gradient(270deg, rgba(105, 105, 105, 0.033) 43.81%, rgba(54, 54, 54, 0.1) 100%);
border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  min-height: 100px;
  color: #000;
  margin-right: 100px !important;
}

model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}












